body{
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Courgette', cursive;
    border-top: 5px solid #ec1d25;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
