body{
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Courgette', cursive;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding: 0 2%;
    }
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.7;
    color: #666666;
    margin: 0;
}
.title-h2{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
    font-weight: 300;
}
.title-h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 1% 0 5% 0;
}
.title-h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10% 0 5% 0;
    @media screen and (max-width: 768px) {
        margin: 5% 0 5% 0;
    }
}
.title-h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    line-height: 1.7;
    text-decoration: none;
}
.f-date{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #555555;
    line-height: 1.7;
    padding: 5% 0;
    display: block;
}
.red-txt{
    color: #ec1d25;
}
.white-txt{
    color: white;
}