.main{
    width: 100%;
    .welcome{
        background: url('../img/pattern1.png') repeat;
        padding: 5% 0;
        @media screen and (max-width: 768px) {
            padding: 10% 0;
        }
        > div{
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            gap: 1rem;
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            div:nth-of-type(1){
                text-align: center;
                p{
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                }
            }
            div:nth-of-type(2){
                overflow: hidden;
                border-radius: 10px;
                width: 70%;
                margin: 0 auto;
                img{
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    transition: .5s all ease-in-out;
                }
                &:hover img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .discover{
        background-image: url('../img/bg-intro-01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        > div{
            div{
                padding: 8% 0;
                text-align: center;
                @media screen and (max-width: 768px) {
                    padding: 10% 0;
                }
            }
        }
    }
    .triple-img{
        margin-top: 5%;
        margin-bottom: 5%;
        @media screen and (max-width: 768px) {
            margin-top: 10%;
            margin-bottom: 10%;
        }
        > div{
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            gap: 2rem;
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .triple-img-1, .triple-img-2, .triple-img-3{
                div:nth-of-type(1){
                    border-radius: 10px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        display: block;
                        transition: .5s all ease-in-out;
                    }
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .our-menu{
        background: url('../img/pattern2.png') repeat;
        padding: 5% 0 5% 0;
        @media screen and (max-width: 768px) {
            padding: 10% 0;
        }
        > div{
            > div:nth-of-type(1){
                text-align: center;
            }
            .menu{
                display: grid;
                gap: 2rem;
                grid-template-areas: 
                "lunch dinner drink"
                "lunch dinner starters"
                "happy happy dessert"
                ;
                @media screen and (max-width: 768px) {
                    grid-template-areas: 
                    "lunch dinner"
                    "happy happy"
                    "drink drink"
                    "starters starters"
                    "dessert dessert"
                    ;
                }
                .menu-list-1{
                    grid-area: lunch;
                }
                .menu-list-2{
                    grid-area: dinner;
                }
                .menu-list-3{
                    grid-area: drink;
                }
                .menu-list-4{
                    grid-area: starters;
                }
                .menu-list-5{
                    grid-area: happy;
                }
                .menu-list-6{
                    grid-area: dessert;
                }
                .menu-list-1, .menu-list-2{
                    position: relative;
                    > div:nth-of-type(1){
                        border-radius: 10px;
                        overflow: hidden;
                        height: 500px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            transition: .5s all ease-in-out;
                        }
                    }
                    > div:nth-of-type(2){
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
                .menu-list-3, .menu-list-4, .menu-list-5, .menu-list-6{
                    position: relative;
                    > div:nth-of-type(1){
                        border-radius: 10px;
                        overflow: hidden;
                        height: 232px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            transition: .5s all ease-in-out;
                        }
                    }
                    > div:nth-of-type(2){
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
                @media screen and (max-width: 768px) {
                    .menu-list-3, .menu-list-4, .menu-list-6{
                        > div:nth-of-type(1){
                            height: 500px;
                        }
                    }
                }
            }
        }
    }
    .event{
        background: url('../img/bg-event-01.jpg') center/cover;
        padding: 5% 0;
        @media screen and (max-width: 768px) {
            padding: 10% 0;
        }
        > div{
            @media screen and (max-width: 768px) {
                padding: 0 10%;
            }
            > div:nth-of-type(1){
                text-align: center;
            }
            .events-box{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                @media screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                > div:nth-of-type(1){
                    display: flex;
                    @media screen and (max-width: 768px) {
                        flex-direction: column;    
                    }
                    .red-bar{
                        color: white;
                        border-radius: 10px 0 0 10px;
                        background-color: rgba(214, 28, 34, .5);
                        position: relative;
                        width: 10%;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                            border-radius: 10px 10px 0 0;
                        }
                        span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotateZ(90deg);
                            white-space:nowrap;
                            @media screen and (max-width: 768px) {
                                position: relative;
                                transform: none;
                                white-space: normal;
                                top: 0;
                                left: 0;
                                padding: 2% 0;
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                    > div:nth-of-type(2){
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                }
                > div:nth-of-type(2){
                    background-color: white;
                    border-radius: 0 10px 10px 0;
                    text-align: center;
                    padding: 0 5%;
                    @media screen and (max-width: 768px) {
                        border-radius: 0 0 10px 10px;    
                    }
                    .time-template{
                        display: grid;
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                        margin: 7% 0 8% 0;
                        .time{
                            color: #ec1d25;
                            font-size: 3em;
                            font-weight: 600;
                        }
                        .time-txt{
                            color: #666666;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .reservation{
        background: url('../img/pattern1.png') repeat;
        padding: 5% 0 5% 0;
        > div{
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-areas: 
            "title img"
            "form img"
            ;
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-template-areas: 
                "title"
                "form"
                "img"
                ;
            }
            > div:nth-of-type(1){
                text-align: center;
                grid-area: title;
                padding-right: 15%;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
            }
            // Form Style
            > div:nth-of-type(2){
                grid-area: form;
                padding-right: 15%;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                form{
                    display: grid;
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                    @media screen and (max-width: 768px) {
                        grid-template-columns: 1fr;
                    }
                    div{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px 20px;
                        label{
                            font-weight: 400;
                            font-size: 0.9em;
                            color: #555555;
                            margin-bottom: 2%;
                        }
                        input{
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            padding: 10px 15px;
                        }
                    }
                    div:last-of-type{
                        display: block;
                        @media screen and (max-width: 768px) {
                            text-align: center;
                        }
                    }
                }
            }
            > div:nth-of-type(3){
                grid-area: img;
                border-radius: 10px;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    width: 50%;
                    margin: 50px auto 50px auto;
                }
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    transition: .5s all ease-in-out;
                }
                &:hover img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .review{
        padding: 5% 0 5% 0;
        > div{
            > div:nth-of-type(1){
                text-align: center;
            }
            > div:nth-of-type(2){
                width: 130px;
                height: 130px;
                margin: 0 auto;
                border-radius: 90px;
                background: url('../img/avatar-01.jpg') center/cover;
                border: 5px solid #ec1d25;
            }
            > div:nth-of-type(3){
                text-align: center;
                margin: 5% 0;
                p:nth-of-type(1){
                    font-weight: 400;
                    font-size: 18px;
                    color: #666666;
                    line-height: 1.7;
                }
                div{
                    margin: 1% 0 3% 0;
                    color: #ec1d25;
                }
                p:nth-of-type(2){
                    font-weight: 400;
                    font-size: 14px;
                    color: #666666;
                    line-height: 1.7;
                    text-transform: uppercase;
                }
            }
        }
    }
    .our-video{
        background: url('../img/bg-cover-video-02.jpg') center/cover;
        > div{
            > div:nth-of-type(1){
                padding: 15% 0 0 0;
                text-align: center;
            }
            > div:nth-of-type(2){
                color: white;
                display: flex;
                justify-content: center;
                padding: 0 0 15% 0;
                span{
                    .fa-play{
                        font-size: 5em;
                    }
                }
            }
        }
    }
    .blog{
        padding: 5% 0 5% 0;
        @media screen and (max-width: 768px) {
            padding: 10% 0;
        }
        > div{
            > div:nth-of-type(1){
                text-align: center;
            }
            > div:nth-of-type(2){
                display: grid;
                grid-template-columns: repeat(3, minmax(200px, 1fr));
                gap: 2rem;
                position: relative;
                @media screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                .blog-1, .blog-2 , .blog-3{
                    div:nth-of-type(1){
                        border-radius: 10px;
                        overflow: hidden;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            transition: .5s all ease-in-out;
                        }
                        &:hover img{
                            transform: scale(1.1);
                        }
                        div{
                            position: absolute;
                            bottom: 15px;
                            left: 25px;
                            background: rgba(0, 0, 0, .7);
                            padding: 1% 5%;
                            p{
                                color: white;
                                font-size: 0.8em;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .sign-up{
        background: url('../img/pattern1.png') repeat;
        padding: 5% 0 5% 0;
        @media screen and (max-width: 768px) {
            padding: 15% 0;
        }
        > div{
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            > div:nth-of-type(1){
                width: 60%;
                form{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }
                    label{
                        font-weight: 600;
                        font-size: 1.3em;
                        color: #555555;
                        text-transform: uppercase;
                        margin-right: 5%;
                        @media screen and (max-width: 768px) {
                            margin-right: 0;
                        }
                    }
                    input{
                        border: 1px solid lightgray;
                        border-radius: 10px;
                        padding: 10px 15px;
                        margin-right: 5%;
                        @media screen and (max-width: 768px) {
                            margin-right: 0;
                            margin-top: 5%;
                        }
                    }
                }
            }
            > div:nth-of-type(2){
                width: 40%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    text-align: center;
                    margin: 5% 0;
                }
            }
        }
    }
}